.authHero {
  background: url("/auth-hero.svg");
  height: 266px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & h3 {
    height: 90px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #ffffff;
  }
}

@media (max-width: 1024px) {
  .authHero {
    display: none;
  }
}
