.container {
  padding: 30px 0;
  & p {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 14px;
  }
}
.btnContainer {
  display: flex;
  gap: 0 16px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 0 13px;
  background: #edecff;
  box-shadow: 0px 4px 27px #f4f3ff;
  border-radius: 5px;
  padding: 9px 15px;
  border: 1px solid #edecff;
  cursor: pointer;
}
.activeBtn {
  border: 1px solid #665bff;
}
.customImageStyle {
  width: 90px;
  height: 23px;
}
