* {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include md {
    width: 720px;
    padding: 0 0px;
  }
  @include lg {
    width: 960px;
    padding: 0 0px;
  }
  @include xl {
    width: 1170px;
    padding: 0 0px;
  }
}
