$darkBlue: #070337;
$themeColor: #635bff;
$lightPurple: #f3f3ff;
$white: #fff;
$black: #141414;
$lightGray: #e1e1e1;
$gray: #818181;
$deepGray: #7c7c7c;
$grayLight: #747474;

// shadows
$cardShadow: 0px 2.13333px 90.6667px rgba(217, 225, 255, 0.59);
