@import "classes";
@import "variables";
@import "default";
@import "mixins";
// @import '/node_modules/katex/dist/katex.min.css';

.ant-layout-header.header {
  z-index: 20;
  box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
  background: #fff;
  position: fixed;
  width: 100%;
  align-items: center;
  // line-height: 1;
  padding-inline: 24px;
  @include transition(0.2s);
  @include large {
    width: calc(100% - 80px);
  }
  &.active {
    width: calc(100% - 200px);
  }
}

.logo {
  width: 120px;

  img {
    height: 30px;
    transform: translate(18px, -4px);
  }
}

.nav-top-right {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;

  //transform: translate(30px, 0);
  .nav-item {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    .user-name {
      text-transform: uppercase;
      font-size: 12px;
    }

    .ant-avatar-image {
      background: #dfe1ef;
    }

    &:hover {
      background: #f1f1f1;
    }
  }
}

.ant-menu {
  background: transparent;
}

.ant-menu-inline .ant-menu-item::after {
  right: auto !important;
  left: 0;
}

// .ant-layout-sider {
//   padding-top: 40px;

//   .trigger {
//     position: absolute;
//     //top: 68px;
//     bottom: 10%;
//     //margin: auto;
//     right: -14px;
//     box-shadow: 0 0 5px 2px #a8acd070;
//     background: white;
//     border-radius: 50%;
//     padding: 5px;
//     color: gray;
//     z-index: 50;
//     transform: scale(0);
//     transition: 0.3s;
//     font-size: 15px;
//     height: 24px;
//   }

//   &:hover {
//     .trigger {
//       transform: scale(1);
//     }
//   }
// }

// .ant-breadcrumb {
//   margin: 10px 0 !important;
//   font-size: 12px !important;
// }

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}
