@import "../../../styles/variables";
@import "../../../styles/mixins";
.top_bar {
  position: fixed;
  z-index: 99;
  right: 0;
}

.drawer_trigger_desktop {
  display: inline-block;
  border: 0;
  font-size: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #7c7c7c;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #635bff;
  }
}

.pageTitle {
  width: calc(100% - 30px);
  & h2 {
    font-size: 18px;
    color: $black;
    padding-left: 10px;
  }
}

.topbarButton {
  background: transparent;
  border: 1px solid $lightGray;
  display: inline-block;
  width: 38px;
  padding: 8px 0;
  @include rounded;
}
