.sectionBg {
  background: linear-gradient(90deg, #efefff 0%, #f6f5ff 100%);
  padding: 26px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & h4 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 5px 30px 5px;
  }
}
.btnContainer {
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  display: flex;
  padding: 6px 4px;
  justify-content: space-between;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  & button {
    color: #4a485f;
    background: rgb(255, 255, 255);
    border: none;
    padding: 12px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    &.activeBtn {
      background: #635bfc;
      color: white;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }
  }
}
