.wrapper {
  margin: 0px 30px;
  padding-top: 10px;
  & h3 {
    color: #102048;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.funded {
  color: #635bff;
}

.allTab {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  .tab {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #ededed;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.33333px 3.33333px 0px 0px;
    width: 179px;
    position: relative;
    padding: 18px 0px;
    cursor: pointer;
    & h3 {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #4a485f;
    }
  }
}

.activeTab {
  & ::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    border-top: 5px solid #080663;
    border-radius: 3.33333px 3.33333px 0px 0px;
    width: 100%;
  }
}
